div.pswp__slideshow-progress-bar {
    height: 3px;
    background-color: white;

    /* Keep the progress bar visible when the PhotoSwipe UI is hidden due to inactivity. */
    opacity: 1 !important;
}
